<!DOCTYPE html>
<!-- html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}"-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/main_layout.html}">
<head>

</head>
<body>
	<div layout:fragment="content" class="container mySpace">
		</form>
		<div class="card">
			<div class="car-body">
				<table class="table table-hover">
					<thead>
						<th>Date</th>
						<th>StartTime</th>
						<th>StopTime</th>
						<th>Description</th>
					</thead>
					<tbody>
						<tr th:each="task:${tasks}">
							<td th:text="${task.date}"></td>
							<td th:text="${task.startTime}"></td>
							<td th:text="${task.stopTime}"></td>
							<td th:text="${task.decription}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>
</html>