<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../static/css/styles.css" th:href="@{css/styles.css}">
	<link rel="stylesheet" href="../../static/css/materia/bootstrap.min.css" th:href="@{css/materia/bootstrap.min.css}">
	<script th:src="@{js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	
</head>
<body>
	<div th:replace="fragments/header::header"></div>
	
	<div layout:fragment="content">
	
	</div>
	
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>